In [1]:
import pandas as pd
# import numpy as np
import matplotlib.pyplot as plt 
plt.style.use('fivethirtyeight')
%matplotlib inline 

train=pd.read_csv("train.csv")
test=pd.read_csv("test.csv")
# train.head()
# print ("train dienstion:", train.shape)
# print ("test dienstion:", test.shape)
# print (train.head(5))

In [ ]:
# sex_pivot= train.pivot_table (index="Sex", values="Survived")
# class_pivot=train.pivot_table (index="Pclass", values="Survived")
# class_pivot.plot.bar()
# plt.show()
# # sex_pivot.plot.bar()
# # plt.show()

In [ ]:
# survived= train[train["Survived"]==1]
# died= train[train["Survived"]==0]
# survived["Age"].plot.hist(alpha=0.5,color='red',bins=50)
# died["Age"].plot.hist(alpha=0.5,color='blue',bins=50)
# plt.legend(['Survived','Died'])
# plt.show()

In [2]:
def process_age(df, cut_point, label_names):
    df["Age"]=df["Age"].fillna(-0.5)
    df["Age_c"]=pd.cut(df["Age"],cut_point,labels=label_names)
    return df
cut_points=[-1,0,5,12,18,35,60,100]
label_names=["missing","Infant","Child","Teen","Young Adult","Adult","Senior"]

process_age(train,cut_points,label_names)
process_age(test,cut_points,label_names)

# train.head()

# pivot=train.pivot_table(index='Age_c', values='Survived')
# pivot.plot.bar()
# plt.show()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Age_c
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q,Young Adult
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S,Adult
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q,Senior
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S,Young Adult
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S,Young Adult
5,897,3,"Svensson, Mr. Johan Cervin",male,14.0,0,0,7538,9.2250,NaN,S,Teen
6,898,3,"Connolly, Miss. Kate",female,30.0,0,0,330972,7.6292,NaN,Q,Young Adult
7,899,2,"Caldwell, Mr. Albert Francis",male,26.0,1,1,248738,29.0000,NaN,S,Young Adult
8,900,3,"Abrahim, Mrs. Joseph (Sophie Halaut Easu)",female,18.0,0,0,2657,7.2292,NaN,C,Teen
9,901,3,"Davies, Mr. John Samuel",male,21.0,2,0,A/4 48871,24.1500,NaN,S,Young Adult
10,902,3,"Ilieff, Mr. Ylio",male,-0.5,0,0,349220,7.8958,NaN,S,missing
11,903,1,"Jones, Mr. Charles Cresson",male,46.0,0,0,694,26.0000,NaN,S,Adult
12,904,1,"Snyder, Mrs. John Pillsbury (Nelle Stevenson)",female,23.0,1,0,21228,82.2667,B45,S,Young Adult
13,905,2,"Howard, Mr. Benjamin",male,63.0,1,0,24065,26.0000,NaN,S,Senior
14,906,1,"Chaffee, Mrs. Herbert Fuller (Carrie Constance...",female,47.0,1,0,W.E.P. 5734,61.1750,E31,S,Adult
15,907,2,"del Carlo, Mrs. Sebastiano (Argenia Genovesi)",female,24.0,1,0,SC/PARIS 2167,27.7208,NaN,C,Young Adult
16,908,2,"Keane, Mr. Daniel",male,35.0,0,0,233734,12.3500,NaN,Q,Young Adult
17,909,3,"Assaf, Mr. Gerios",male,21.0,0,0,2692,7.2250,NaN,C,Young Adult
18,910,3,"Ilmakangas, Miss. Ida Livija",female,27.0,1,0,STON/O2. 3101270,7.9250,NaN,S,Young Adult
19,911,3,"Assaf Khalil, Mrs. Mariana (Miriam"")""",female,45.0,0,0,2696,7.2250,NaN,C,Adult
20,912,1,"Rothschild, Mr. Martin",male,55.0,1,0,PC 17603,59.4000,NaN,C,Adult
21,913,3,"Olsen, Master. Artur Karl",male,9.0,0,1,C 17368,3.1708,NaN,S,Child
22,914,1,"Flegenheim, Mrs. Alfred (Antoinette)",female,-0.5,0,0,PC 17598,31.6833,NaN,S,missing
23,915,1,"Williams, Mr. Richard Norris II",male,21.0,0,1,PC 17597,61.3792,NaN,C,Young Adult
24,916,1,"Ryerson, Mrs. Arthur Larned (Emily Maria Borie)",female,48.0,1,3,PC 17608,262.3750,B57 B59 B63 B66,C,Adult
25,917,3,"Robins, Mr. Alexander A",male,50.0,1,0,A/5. 3337,14.5000,NaN,S,Adult
26,918,1,"Ostby, Miss. Helene Ragnhild",female,22.0,0,1,113509,61.9792,B36,C,Young Adult
27,919,3,"Daher, Mr. Shedid",male,22.5,0,0,2698,7.2250,NaN,C,Young Adult
28,920,1,"Brady, Mr. John Bertram",male,41.0,0,0,113054,30.5000,A21,S,Adult
29,921,3,"Samaan, Mr. Elias",male,-0.5,2,0,2662,21.6792,NaN,C,missing
...,...,...,...,...,...,...,...,...,...,...,...,...
388,1280,3,"Canavan, Mr. Patrick",male,21.0,0,0,364858,7.7500,NaN,Q,Young Adult
389,1281,3,"Palsson, Master. Paul Folke",male,6.0,3,1,349909,21.0750,NaN,S,Child
390,1282,1,"Payne, Mr. Vivian Ponsonby",male,23.0,0,0,12749,93.5000,B24,S,Young Adult
391,1283,1,"Lines, Mrs. Ernest H (Elizabeth Lindsey James)",female,51.0,0,1,PC 17592,39.4000,D28,S,Adult
392,1284,3,"Abbott, Master. Eugene Joseph",male,13.0,0,2,C.A. 2673,20.2500,NaN,S,Teen
393,1285,2,"Gilbert, Mr. William",male,47.0,0,0,C.A. 30769,10.5000,NaN,S,Adult
394,1286,3,"Kink-Heilmann, Mr. Anton",male,29.0,3,1,315153,22.0250,NaN,S,Young Adult
395,1287,1,"Smith, Mrs. Lucien Philip (Mary Eloise Hughes)",female,18.0,1,0,13695,60.0000,C31,S,Teen
396,1288,3,"Colbert, Mr. Patrick",male,24.0,0,0,371109,7.2500,NaN,Q,Young Adult
397,1289,1,"Frolicher-Stehli, Mrs. Maxmillian (Margaretha ...",female,48.0,1,1,13567,79.2000,B41,C,Adult
398,1290,3,"Larsson-Rondberg, Mr. Edvard A",male,22.0,0,0,347065,7.7750,NaN,S,Young Adult
399,1291,3,"Conlon, Mr. Thomas Henry",male,31.0,0,0,21332,7.7333,NaN,Q,Young Adult
400,1292,1,"Bonnell, Miss. Caroline",female,30.0,0,0,36928,164.8667,C7,S,Young Adult
401,1293,2,"Gale, Mr. Harry",male,38.0,1,0,28664,21.0000,NaN,S,Adult
402,1294,1,"Gibson, Miss. Dorothy Winifred",female,22.0,0,1,112378,59.4000,NaN,C,Young Adult
403,1295,1,"Carrau, Mr. Jose Pedro",male,17.0,0,0,113059,47.1000,NaN,S,Teen
404,1296,1,"Frauenthal, Mr. Isaac Gerald",male,43.0,1,0,17765,27.7208,D40,C,Adult
405,1297,2,"Nourney, Mr. Alfred (Baron von Drachstedt"")""",male,20.0,0,0,SC/PARIS 2166,13.8625,D38,C,Young Adult
406,1298,2,"Ware, Mr. William Jeffery",male,23.0,1,0,28666,10.5000,NaN,S,Young Adult
407,1299,1,"Widener, Mr. George Dunton",male,50.0,1,1,113503,211.5000,C80,C,Adult
408,1300,3,"Riordan, Miss. Johanna Hannah""""",female,-0.5,0,0,334915,7.7208,NaN,Q,missing
409,1301,3,"Peacock, Miss. Treasteall",female,3.0,1,1,SOTON/O.Q. 3101315,13.7750,NaN,S,Infant
410,1302,3,"Naughton, Miss. Hannah",female,-0.5,0,0,365237,7.7500,NaN,Q,missing
411,1303,1,"Minahan, Mrs. William Edward (Lillian E Thorpe)",female,37.0,1,0,19928,90.0000,C78,Q,Adult
412,1304,3,"Henriksson, Miss. Jenny Lovisa",female,28.0,0,0,347086,7.7750,NaN,S,Young Adult
413,1305,3,"Spector, Mr. Woolf",male,-0.5,0,0,A.5. 3236,8.0500,NaN,S,missing
414,1306,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C,Adult
415,1307,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S,Adult
416,1308,3,"Ware, Mr. Frederick",male,-0.5,0,0,359309,8.0500,NaN,S,missing
417,1309,3,"Peter, Master. Michael J",male,-0.5,1,1,2668,22.3583,NaN,C,missing

In [3]:
def create_dummies(df, column_name):
    dummies=pd.get_dummies(df[column_name], prefix=column_name)
    df=pd.concat([df,dummies],axis=1)
    return df

for column in ["Pclass", "Sex", "Age_c"]:
    train= create_dummies(train, column)
    test= create_dummies(test, column)
    
# train.head()

# test.head()
# list(train)

In [ ]:
# from sklearn.linear_model import LogisticRegression 
# lr=LogisticRegression
# columns=['Pclass_1',
#  'Pclass_2',
#  'Pclass_3',
#  'Sex_female',
#  'Sex_male',
#  'Age_c_missing',
#  'Age_c_Infant',
#  'Age_c_Child',
#  'Age_c_Teen',
#  'Age_c_Young Adult',
#  'Age_c_Adult',
#  'Age_c_Senior']
# lr.fit(train[columns],train['Survived'])

In [ ]:
from sklearn.linear_model import LogisticRegression 
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.metrics import accuracy_score

holdout=test

lr=LogisticRegression()

columns=['Pclass_1',
 'Pclass_2',
 'Pclass_3',
 'Sex_female',
 'Sex_male',
 'Age_c_missing',
 'Age_c_Infant',
 'Age_c_Child',
 'Age_c_Teen',
 'Age_c_Young Adult',
 'Age_c_Adult',
 'Age_c_Senior']

all_x=train[columns]
all_y=train['Survived']

train_x, test_x, train_y, test_y= train_test_split(all_x, all_y, test_size=0.2 , random_state=0)
lr.fit(train_x, train_y)
prediction=lr.predict(test_x)
accuracy=accuracy_score(test_y, prediction)

print(accuracy)

In [4]:
from sklearn.linear_model import LogisticRegression 
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.metrics import accuracy_score

holdout=test

lr=LogisticRegression()

columns=['Pclass_1',
 'Pclass_2',
 'Pclass_3',
 'Sex_female',
 'Sex_male',
 'Age_c_missing',
 'Age_c_Infant',
 'Age_c_Child',
 'Age_c_Teen',
 'Age_c_Young Adult',
 'Age_c_Adult',
 'Age_c_Senior']

all_x=train[columns]
all_y=train['Survived']

scores=cross_val_score(lr,all_x, all_y, cv=10)
scores.sort()
accuracy=scores.mean()

print(scores)
print(accuracy)

[ 0.76404494  0.76404494  0.7752809   0.78651685  0.8         0.80681818
  0.80898876  0.81111111  0.83146067  0.87640449]
0.802467086596

In [ ]:
# import numpy as np
lr=LogisticRegression()
lr.fit(all_x, all_y)
holdout_prediction=lr.predict(holdout[columns])
holdout_ids=holdout['PassengerId']


submission_df={"P_ID":holdout_ids, "Survived":holdout_prediction}
submission=pd.DataFrame(submission_df)

# print(submission.head())
    
submission.to_csv('HoldOutPrediction.CSV', index=False)
# np.savetxt('HoldOutPrediction_np.csv',holdout_prediction, delimiter=',')